@font-face {
    font-family: 'gang_of_three_regular';
    src: url('../styles/fonts/go3v2-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.scoreboard {
  position: fixed;
  top: 0;
  color: #FFFFFF;
  font-size: 50px;
  font-family: "gang_of_three_regular";
  display: flex;
}

.score {
  width: 50vw;
  text-align: center;
}

.starting-screen {
    background-color: #000000;
    width: 100vw;
    height: 100vh;
    align-content: center;
    text-align: center;
}

.main-menu {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.start-message {
    line-height: 2.5;
    color: #FFFFFF;
    font-size: 35px;
    font-family: "gang_of_three_regular";
    -webkit-animation: start-message 2s ease-out;
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes start-message {
    0% {
        opacity: 0.1;
    }
    50% {
        opacity: 1.0;
    }
    100% {
        opacity: 0.1;
    }
}

.alert {
  font: 14px Arial, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  border: 1px solid lightgray;
  box-shadow: 3px 3px 12px lightgray;
}
p { margin: 12px; }
.alert .buttons {
  float: right
}